In [14]:
import pandas as pd
import numpy as np

In [15]:
country_features = pd.read_csv("../data/charactCountry/country_features.csv", index_col="Unnamed: 0")
country_features.sample()

,Country Name,Country Code,mean_gdp,mean_stability,Region,IncomeGroup,mean_child_noSchool,mean_ed_exp,mean_literacy,mean_ARV_coverage,mean_health_exp,mean_UHC_coverage,mean_law,mean_female_seats,mean_voice,mean_rights,mean_sex_index,censor,transition,mean_hate_protection
21,Bosnia and Herzegovina,BIH,2.128269e+10,NaN,Europe & Central Asia,Upper middle income,12.110834,NaN,98.300003,NaN,9.179916,67.666667,43.902365,22.222222,37.353107,5.289413,0.0,01. No censorship,"02. Legal, but requires surgery",0.35

In [16]:
discourse = pd.read_csv("../data/web.csv", index_col="Unnamed: 0")

In [17]:
discourse.sample()

,lat,long,comment,id_web,positions,Country Name,Country Code
50426,-0.917204,-89.598253,she told me she cared for me. we made out in t...,53708,"[-89.5982531329887, -0.9172035373394113]",NaN,NaN

In [ ]:
# There are many empty rows, fill with min (some of them are regions, when merged these rows will disappear)
# child["mean_child_noSchool"].loc[child[child["mean_child_noSchool"].isna()].index] = child["mean_child_noSchool"].max()