In [8]:
import pandas as pd
import numpy as np
import nltk
nltk.downloader.download('vader_lexicon')
from wordcloud import WordCloud
import matplotlib.pyplot as plt

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gdcma\AppData\Roaming\nltk_data...

In [2]:
discourse = pd.read_csv("../data/web.csv", index_col="Unnamed: 0")

In [4]:
discourse.sample()

,comment,id_web,Country Name,Country Code,language,new_comment
84901,Came out to my mom August 6th of 2018 before 7...,90052,United States of America,USA,en,Came out to my mom August 6th of 2018 before 7...

# Description of the discourse

In [5]:
discourse.isna().sum()

comment            0
id_web             0
Country Name    7929
Country Code    7929
language         276
new_comment        0
dtype: int64

In [9]:
sia = SentimentIntensityAnalyzer()

In [11]:
def sentiment (x):
    try:
        return sia.polarity_scores(x)["compound"]
    except:
        return float('nan')

In [ ]:
discourse["sentiment"] = discourse["new_comment"].apply(sentiment)

In [ ]:
discourse.sample()

In [ ]:
wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text_data)

In [ ]:
# There are many empty rows, fill with min (some of them are regions, when merged these rows will disappear)
# child["mean_child_noSchool"].loc[child[child["mean_child_noSchool"].isna()].index] = child["mean_child_noSchool"].max()