In [1]:
import pandas as pd
import pymysql
from getpass import getpass
import sqlalchemy as alch
import random

# MySQL connection

In [2]:
df = pd.read_csv("../data/total_df.csv", index_col="Unnamed: 0")

In [3]:
password = getpass()

KeyboardInterrupt: Interrupted by user

In [ ]:
dbName = "queer_mysql"

In [ ]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [ ]:
engine = alch.create_engine(connectionData)

In [ ]:
df.to_sql("queer", if_exists="replace", con=engine, index=False)

# Questions

**Look for comments containing a particular word or expression for a particular country**

In [ ]:
input_country = input(prompt='country_name: ') # list of country names for streamlit

In [ ]:
input_words = (input(prompt="Which word are you looking for? "))

In [ ]:
query = f"SELECT comment FROM queer WHERE country_name = '{input_country}' AND comment REGEXP '(?i)\\\\b{input_words}\\\\b'";

In [ ]:
df_query1 = pd.read_sql_query(query, engine)
print(f"There are a total of {df_query1.shape[0]} comment in {input_country} with the word '{input_words}'. This words is repeated {sum(df_query1.comment.str.count(input_words))} times.")

In [ ]:
indexes = random.choices(range(df_query1.shape[0]), k=10)
string=""
for i in indexes:
    string += f"{i+1}. {df_query1['comment'][i]}\n"
print(string)

In [ ]:
string = ""
for i in df_query1.index:
    string += f"{i+1}. {df_query1['comment'][i]}\n"
print(string)

**Find the comment with the highest or lowest Sentiment/Emotionality, by country or in the world**

In [ ]:
input_minmax = input(prompt="Minimum or maximum: ")

In [ ]:
input_sentemo = input(prompt="Sentiment or emotionality: ")

In [ ]:
input_country = input(prompt="Choose country: ")

In [ ]:
query = f"SELECT DISTINCT(comment) FROM queer WHERE {input_sentemo} = (SELECT {input_minmax}({input_sentemo}) FROM queer WHERE country_name= '{input_country}');"

In [ ]:
df_query2 = pd.read_sql_query(query, engine)

In [ ]:
for i in df_query2.index:
    print(f"{i+1}. {df_query2['comment'][i]}")

# Queries without mysql
So that Streamlit can be separated from mysql connection

In [4]:
df = pd.read_csv("../data/total_df.csv", index_col="Unnamed: 0")
df.sample()

,id_web,lat,long,comment,language,sentiment,type_sentiment,characters,emotionality,country_name,...,mean_literacy,mean_ARV_coverage,mean_health_exp,mean_UHC_coverage,mean_rights,mean_sex_index,censor,transition,mean_hate_protection,cluster
89446,94854,35.703873,-81.333571,This is where I asked the girl of my dreams to...,en,0.7443,3,143,0.044015,United States of America,...,NaN,NaN,NaN,NaN,NaN,NaN,02. Varies by region,03. Varies by region,NaN,5.0

**Look for comments containing a particular word or expression for a particular country**

In [9]:
input_country = input(prompt='country_name: ').lower() # list of country names for streamlit

country_name: Spain

In [10]:
input_words = input(prompt="Which word are you looking for? ").lower()

Which word are you looking for? love

In [11]:
df_query = df[(df["country_name"].str.lower()==input_country) & (df["comment"].str.lower().str.contains(f'\\b{input_words}\\b', regex=True))]

In [12]:
df_query = df_query[["comment"]]

In [13]:
df_query

                                                  comment
539     fell in love with a flirty Alberto at El Ganso...
7140    Fell in love for the second time. The ocean, t...
9204    The day I came out the closet, my mother was d...
10194   That's where I grew up and where I started dan...
10994         fell in love with a girl for the first time
...                                                   ...
148703  I’m sorry I was not ready to be with you. You ...
148706  Here, in these swings, at midnight, after spen...
148707  Here, in these swings, at midnight, after spen...
148912  i stopped trying to love someone that did not ...
149081  Here is where we last kissed. You made me real...

[182 rows x 1 columns]

In [14]:
sum(df_query["comment"].str.lower().str.count(f'\\b{input_words}\\b'))

218

In [ ]:
Series.str.count(pat, flags=0)

In [24]:
print(f"There are a total of {df_query.shape[0]} comment in {input_country} with the word '{input_words}'.")

There are a total of 182 comment in spain with the word 'love'.

**Find the comment with the highest or lowest Sentiment/Emotionality, by country or in the world**

In [42]:
input_minmax = input(prompt="Minimum or maximum: ")

Minimum or maximum: Min

In [43]:
input_sentemo = input(prompt="Sentiment or emotionality: ")

Sentiment or emotionality: Sentiment

In [44]:
input_country = input(prompt="Choose country: ")

Choose country: Spain

In [157]:
if input_minmax == "Min":
    query = df[[input_sentemo.lower()]].groupby(df["country_name"]).min().loc[input_country][input_sentemo.lower()]

In [158]:
print(query)

-0.9791

In [159]:
df_query = df[["comment"]][(df[input_sentemo.lower()] == query) & (df["country_name"] == input_country)].reset_index()

In [164]:
string_comment = f"\n{df_query['comment'][0]}"
string_comment

'\nFirst time we experienced pointed homophobic abuse while together. Even worse, it was by 12 year old Spanish kids. I felt so powerless not being able to properly tell them off in a language they would understand. Parents stood idly by, I was so angry that I couldn’t spare you the embarrassment, hurt, and humiliation.'